@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

:root{
  --ibero-red-color: #EF4044;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
} 

body{
  scroll-behavior: smooth;
}

.header{
  background-color: var(--ibero-red-color);
  color: white;
  padding: 25px;
}

.sticky-nav{
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 0;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.header .lab-title{
  margin: 20px 0;
}

.institutional-image-container .logo{
  display: none;
  width: 200px;
  height: auto;
}

.navigation{
  margin-top: 40px;
}

.navigation .coordination-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation .coordination-list li{
  display: inline-block;
  font-size: 1rem;
}

.navigation .coordination-list li a{
  text-decoration: none;
  color: white;
}

.navigation .coordination-list .active {
  position: relative;
  top: -5px;
  font-weight: bold;
  font-size: 1.3rem;
}

.icons-container{
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
}

.icons-container span{
  margin: 0 10px;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 1;
}

.icons-container span:active{
  transform: scale(0.5);
  transition: 0.5s;
}

.icons-container span.active{
  color: black;
} 

.cart-container{
  position: absolute;
  top: -10px;
  right: 80px;
  z-index: 0;
  border: solid 2px var(--ibero-red-color);
  background: white;
  color: black;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
  width: 180px;
  padding: 10px 30px;
  opacity: 0;
  visibility: hidden;
}

.cart-container.active{
  opacity: 1;
  transition: 0.2s;
  visibility: visible;
}


.material-title, .material-list li{
  font-weight: bold;
}

.cart-container .material-title{
  position: relative;
  left: -25px;
  display: inline-block;;
  font-size: 1.1rem;
}

.request-button{
  position: relative;
  right: -55px;
  background: var(--ibero-red-color);
  color: white;
  padding: 0.5rem 0.8rem;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  outline: 0;
  transition: 0.5s;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
}

.request-button:active{
  transform: scale(0.8);
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
  
}

.top-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
  margin-top: 20px;
}

#catalogue-title  {
  font-size: 50px;
}

.search {
  position: relative;
  width: 50px;
  height: 50px;
  background: var(--ibero-red-color);
  border-radius: 50px;
  transition: 0.35s;
  box-shadow: 0 0 0 3px #c00000;
  overflow: hidden;
  margin: 10px;
}

.search.active {
  width: 360px;
}

.search .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: var(--ibero-red-color);
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.search .icon::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid white;
  border-radius: 50%;
  transform: translate(-4px, -4px);
}

.search .icon::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 12px;
  background: white;
  transform: translate(6px, 6px) rotate(315deg);
}

.search .input {
  position: relative;
  width: 300px;
  height: 50px;
  left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.search .input input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  background: var(--ibero-red-color);
  padding: 10px 0;
  color: white;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.clear {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  right: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear::before {
  position: absolute;
  content: '';
  width: 2px;
  height: 15px;
  background: white;
  transform: rotate(45deg);
}

.clear::after {
  position: absolute;
  content: '';
  width: 2px;
  height: 15px;
  background: white;
  transform: rotate(315deg);
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-flow: wrap;
}

.card {
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  width: 100%;
  transition: 0.4s;
}

img {
  width: 100%;
  height: auto;
}

.card-details {
  padding: 10px 20px;
}

.card-details > h3 {
  font-weight: 600;
  font-size: 18px;
}

.card-details > p {
  color: #a0a0a0;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}

@media only screen and (min-width: 655px) {
  .card {
      width: 45%;
  }
  
  .top-content {
    margin: 20px 1.5% 0 2%;
  }
}

@media only screen and (min-width: 993px) {
  .card {
      width: 30%;
  }  
}

@media screen and (min-width: 360px) {
  .cart-container{
    width: 225px;
  }
  .request-button{
    margin-top: 20px;
    right: -100px;
  }

  #catalogue-title  {
    text-align: center;
  }
  
  input {
    width: 100%
  }
}

@media screen and (min-width: 768px){
  .navigation .coordination-list{
    width: 40%;
  }

  .navigation{
      display: flex;
  }
  .icons-container{
    width: 60%;
    margin-top: 0;
    right: 0px;
  }
  .institutional-image-container .logo{
    display: block;
    position: absolute;
    right: 20px;
    top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .title-content {
    justify-content: center;
  }
  
  .search {
    width: 100% !important;
  }

  #catalogue-title {
    width: 100%;
    margin-bottom: 20px;
    font-size: 45px;
  }
}