@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

:root{
  --ibero-background: #575757;
  --ibero-red-color: #EF4044;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}


* {
  box-sizing: border-box;
}


.bg-image {
  /* The image used */
  background-image: url("../images/backgroundT.jpg");

  /* Add the blur effect */
  filter: blur(5px);
  -webkit-filter: blur(5px);

  /* Full height */
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  transform: scale(1.1);
  /* Center and scale the image nicely */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.card-login {
  max-width: 500px;
  min-height: 450px;
  text-align: center;
  background-color: var(--ibero-red-color);
  margin: auto;
  border-radius: 15px;
  color: white;
  z-index: 2;
  
}

.hoverable{
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
}

.hoverable:hover{
  -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.card-content {
  width: 100%;
  margin: 50% 0;
}

.logo-ibero {
  margin: 30px;
  width: 100px;
}

.title-login {
  font-size: 28px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--ibero-red-color);
  opacity: 1; /* Firefox */
  font-size: 15px;
}

.input-label {
  font-size: 18px;
}

input {
  width: 70%;
  padding: 12px 14px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  color: var(--ibero-red-color);
}


*:focus {
  outline: none;
}

select {
  width: 70%;
  color: var(--ibero-red-color);
  font-size: 15px;
  background-color: white;
  border: none;
  border-radius: 10px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  margin-top: 10px;
  padding: 0.5em 3.5em 0.5em 1em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.round {
  padding-right: 10px;
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
  background-repeat: no-repeat;
}

select.round:focus {
  background-image:
    linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    radial-gradient(gray 70%, transparent 72%);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - .5em) .5em;
  background-size:
    5px 5px,
    5px 5px,
    1.5em 1.5em;
}

.button-login {
  border-radius: 10px;
  width: 100px;
  height: 40px;
  background-color: white; 
  border:0.16em solid rgba(255,255,255,0);
  color: var(--ibero-red-color);
  font-size: 15px;
  margin-top: 20px;
  margin-left: calc(100% - 250px);
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  border-color: rgb(117, 117, 117);
  background-color: #f0f0f0;
  color: #ff0004
}

@media screen and (max-width: 768px) {
  .card-login {
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
  .button-login { 
    text-align: center;
    margin: 20px auto;
  }
}
